* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) and (min-width: 0px) {
    body {
        width: 100%;
        overflow: scroll;
        background-color: white !important;
    }

}


.dmain {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.header {
    text-align: center;
    position: relative;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.button1 {
    color: #fff;
    background-color: #4CAF50;
}

@media (min-width: 993px) {
    .button1 {
        display: none !important;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .button1 {
        display: none !important;
    }
}

.button1 {
    display: block;
    width: 100%;
}

.button1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button1:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

@media (max-width: 600px) and (min-width: 0px) {
    .buttton1 {
        width: 100%;
    }
}

.d1 {
    padding: 8px 16px !important;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

@media (max-width: 600px) {
    .d1 {
        display: none !important;
    }
}

.d2 {
    color: #fff !important;
    background-color: #000 !important;
    padding: 12px 24px !important;
    opacity: 0.60;
    border-radius: 8px;
}

.d2:hover{
    opacity: 1;
    color: #fff!important;
    background-color: #000!important;
}

.takephotos {
    font-size: 24px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    margin-top: 15px;
}

.hr1 {
    opacity: 0.60;
    border: 0;
    margin: 20px 0;
}

.button0 {
    color: #fff !important;
    background-color: #4CAF50 !important;
    border-radius: 4px;
    display: block;
    width: 100%;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button0:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.button0-1 {
    color: #fff !important;
    background-color: #f44336 !important;
    border-radius: 4px;
    display: block;
    width: 100%;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button0-1:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.button0-2 {
    color: #fff !important;
    background-color: #3f51b5 !important;
    border-radius: 4px;
    display: block;
    width: 100%;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button0-2:hover {
    color: #000 !important;
    background-color: #ccc !important;
}


.click {
    color: #f44336;
    font-size: 24px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.smart {
    font-size: 24px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.taketour {
    color: #fff !important;
    background-color: black;
    margin-right: 16px !important;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.taketour:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

@media (max-width: 600px) {
    .taketour {
        display: none !important;
    }
}

.taketour2 {
    color: #fff !important;
    background-color: #000 !important;
    display: block;
    width: 100%;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

@media (min-width: 993px) {
    .taketour2 {
        display: none !important;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .taketour2 {
        display: none !important;
    }
}

.taketour2:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.d5 {
    color: #000 !important;
    background-color: #fff !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.d6 {
    padding: 0 8px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

.d7 {
    padding: 0 8px;
    width: 100%;
    float: left;
    text-align: left;
}

@media (min-width: 601px) {
    .d7 {
        width: 49.99999%;
    }
}

@media (min-width: 993px) {
    .d7 {
        width: 66.66666%;
    }
}

.theapp {
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.whybuyit {
    color: #4CAF50;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 28px 0;
}

.span1 {
    font-size: 24px;
}

.button2 {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    padding: 12px 24px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button2:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

@media (max-width: 600px) {
    .button2 {
        display: none !important;
    }
}

.p1 {
    padding-top: 15px;
}

#android {
    color: #4CAF50 !important;
    font-size: 24px !important;
}


#apple {
    color: #000 !important;
    font-size: 24px !important;
}


#windows {
    color: #2196F2 !important;
    font-size: 24px !important;
}

.d8 {
    padding: 0 8px;
    float: left;
    width: 100%;
}

@media (min-width: 601px) {
    .d8 {
        width: 49.99999%;
    }
}

@media (min-width: 993px) {
    .d8 {
        width: 33.33333%;
    }
}

.img1 {
    float: right;
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .img1 {
        display: none !important;
    }
}

.d9 {
    text-align: center !important;
}

@media (min-width: 993px) {
    .d9 {
        display: none !important;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .d9 {
        display: none !important;
    }
}

.button3 {
    padding: 12px 24px !important;
    display: block;
    width: 100%;
    border: none;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button3:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.img2 {
    margin-top: 16px !important;
    max-width: 100%;
    height: auto;
    margin-bottom: -8px;
}

.d10 {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.d10 {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.d11 {
    padding: 0 8px;
}

.d12 {
    padding: 0 8px;

    float: left;
    width: 100%;
}

@media (min-width: 601px) {
    .d12 {
        width: 49.99999%;
    }
}

@media (min-width: 993px) {
    .d12 {
        width: 33.33333%;
    }
}

.img3 {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: -8px;
}

@media (max-width: 600px) {
    .img3 {
        display: none !important;
    }
}

.d13 {
    padding: 0 8px;
    float: left;
    width: 100%;
}

@media (min-width: 601px) {
    .d13 {
        width: 49.99999%;
    }
}

@media (min-width: 993px) {
    .d13 {
        width: 66.66666%;
    }
}

.clarity {
    font-size: 64px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 14px 0;
}

.pixels {
    color: #f44336;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 28px 0;
}

.p2 {
    font-family: "Poppins", sans-serif;
}

.span2 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}


.d14 {
    color: #fff !important;
    background-color: #616161 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center !important;
    padding: 0.01em 16px;
}

.features {
    font-size: 64px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.p3 {
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
}

.d15 {
    float: left;
    width: 100%;
}


.d15 {
    width: 24.99999%;
}

#bolt {
    font-size: 64px;
    color: #ff9800;
}


#heart {
    font-size: 64px;
    color: #f44336;
}


#camera {
    font-size: 64px;
    color: #d2be0e;
}


#battery {
    font-size: 64px;
    color: #4CAF50;
}


#sharp {
    font-size: 64px;
    color: #fff;
}


#cloud {
    font-size: 64px;
    color: #2196F3;
}


#global {
    font-size: 64px;
    color: #ffc107;
}


#Storage {
    font-size: 64px;
    color: #00bcd4;
}


#safe {
    font-size: 64px;
    color: #fdf5e6;
}


#Stabile {
    font-size: 64px;
    color: #ff9800;
}


#connected {
    font-size: 64px;
    color: #757575;
}


#hd {
    font-size: 64px;
    color: #e91e63;
}

.d16 {
    color: #000 !important;
    background-color: #fff !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center !important;
    font-family: "Poppins", sans-serif;
}

.pricing {
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.pricingplan {
    font-size: 18px;
}

.d17 {
    padding: 0 8px;
}

.d18 {
    padding: 0 8px;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    float: left;
    width: 100%;
}

@media (min-width: 601px) {
    .d18 {
        width: 49.99999%;
    }
}

.ul1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul1:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.li1 {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #fff !important;
    background-color: #616161 !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    font-size: 24px !important;
}

.li2 {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.dollar {
    opacity: 0.60;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}

.li3 {
    border-bottom: none;
    padding: 8px 16px;
    color: #000 !important;
    background-color: #f1f1f1 !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.button4 {
    color: #fff !important;
    background-color: #000 !important;
    padding: 12px 24px !important;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button4:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.premium {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #fff !important;
    background-color: #f44336 !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    font-size: 24px !important;
}

.footer {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    text-align: center !important;
    font-size: 24px !important;
    padding: 0.01em 16px;
}

.d19 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.w3 {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

#fb:hover {
    opacity: 0.60;
}


#insta:hover {
    opacity: 0.60;
}

#snap:hover {
    opacity: 0.60;
}

#pin:hover {
    opacity: 0.60;
}

#twitter:hover {
    opacity: 0.60;
}

#link:hover {
    opacity: 0.60;
}